body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.item {
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 20px;
   
}

.item1 {
    background-color: #81d8f6;
    grid-area: 1 / 1 / 1 / 5 ;
    
    
}

.item2 {
    background-color: #e1d7ea;
    grid-area: 2 / 1 / 3 / 2  ;

}

.item3{
    background-color: #fecc4b;
    /* grid-column: 2 / span 2;
    grid-row: 2 / span 4; */
    grid-area: 2 / 2 / 4 / 5 ;
}

.item4{
    background-color: #c6e2a6;
    grid-area: 3 / 1 / 5 / 1;
}

.item5 {
    background-color: #acacb0;
    grid-area: 4 / 2 / 4 / 5;
}

.item6 {
    background-color: #7fcea8;
    grid-area: 5 / 1 / 5 / 4 ;
}

.item7{
    background-color: #f5d4e4;
}

.item8 {
    background-color: #f7b16b;
    grid-column: 1 / 5;
}