ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(145, 96, 96);
    /* color: rgb(255, 255, 255); */
    width: 30%;
    text-align: center;
}
.slide{
    transition: 0.5s ease;
    transform: translateX(-380px);

}
li a {
    text-decoration: none;
    display: block  ;
    padding: 8px 16px;
}
li a:hover {
    background-color: seagreen;
    color: rgb(135, 97, 97);
}
li a:visited {
    color: rgb(255, 255, 255);
}
input{
    display: none;
    visibility:  hidden;
    
}
.toggle{
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    left: 15px;
    top: 35px;
    cursor: pointer;
}
.toggle .line{
   position: absolute;
   width: 20px;
   height: 2px;
   background-color: black;
   
}
.toggle .top_line{
    top: 20%;
    left: 10%;
   
}
.toggle .middle_line{
    top: 40%;
    left: 10%;
}
.toggle .bottom_line{
    top: 60%;
    left: 10%;
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.slide{
    transform: translateX(0px);
}